body {
  text-align: center;
  font-family: helvetica;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h4 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

}
#Group1{
    background-image: "./resources/images/the-flatiron-building.png";
}
